/* Styles for final project Github webpage */

.wrapper{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    }
    
    h1{
        text-align: center;
        font-family:Copperplate, cursive;
        font-size: 60px;
        
        margin-top: 0%;
        color: black;
    }
    
    html { 
        background: url('https://foundation.seattlecolleges.edu/sites/foundation.seattlecolleges.edu/files/default_images/seattle-colleges.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color:gray;
        color:black;
      }
    
    .content{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
    
    
    p{
        height: 400px;
        width: 200px;
        justify-content:space-around;
        background-color:#009cc3;
        border: solid white 3px;
        color:black;
        padding:20px;
    }
    
    footer{
        
        color: black;
        font-size: 20px;
        background-color: #a1a1a1;
        width: 380px;
        margin-left: 520px;
        border: white solid 3px;
        margin-top: 15px;
        padding-left: 1em;
        
       
        
        
    }
    
    .logo{
        border-radius: 50%;
        height: 80px;
        margin-left: 180px;
        display: inline;
        margin-bottom: 0%;
        border: white solid 3px;
    }
    
    a{
        display: block;
        text-decoration: none;
        color: black;
        
        font-size: 20px;
    }
    
    ul{
        
        list-style-type:none;
        padding-left: 1em;
    }
    
    .team{
        font-size: 25px;
        margin-left: 80px;
    }
    
    span{
        padding: 40px;
    }
    
    .separate{
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 30px;
    }